[Desktop Entry]
Name=Configuration Manager for Krita
Comment=Manage Krita resource profiles and configurations
Exec=krita-manage-tool
Icon=com.github.krita_manage_tool
Terminal=false
Type=Application
Categories=Graphics;Utility;
